:root {
  --clr-orange: hsl(21, 62%, 45%);
  --clr-grey: hsl(210, 22%, 49%);
  --clr-white: #fff;

  --transition: all 0.3s linear;
  --radius: 0.25rem;
  --max-width: 1170px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 80vw;
  margin: 5rem auto;
  max-width: var(--max-width);
  text-align: center;
}

.center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 400px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
